<%- include('../partial/header'); -%>
<%- include('../partial/navbar'); -%>
<div class="container">
  <div class="text-center">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#showWait">
      <h6>See all Waiting Orders</h6>
    </button>

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#showDone">
      <h6>See all Done Orders</h6>
    </button>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#showCancel">
      <h6>See all Cancelled Orders</h6>
    </button>

  </div>
    
    <div class="modal fade" id="showWait" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Status: <span class="btn btn-secondary fw-bold">WAITING</span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                  <thead>
                  <tr>
                      <th scope="col">Product Name</th>
                      <th scope="col">User ID</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total Cost</th>
                      <th scope="col">Transaction Status</th>
                      <th scope="col">Change To</th>
                      <th scope="col">Change To</th>
                  </tr>
                  </thead>
                  <tbody>
                      <% orderWaiting.forEach(function(orders) { %>
                      <tr>
                        <td><%= orders.Product.title %></td>
                        <td><%= orders.user_id %></td>
                        <td><%= orders.qty %></td>
                        <td><%= orders.price %></td>
                        <td><span class="btn btn-secondary fw-bold"><%= orders.transaction_status %></span></td>
                        <td>
                            <form action="/admin/orders" method="post">
                                <input type="hidden" name="orderID" value="<%= orders.id %>">
                                <input type="submit" name="status_done" id="" class="btn btn-success fw-bold" value="DONE">
                                
                            </form>
                        </td>
                        <td>
                          <form action="/admin/orders" method="post">
                            <input type="hidden" name="orderID" value="<%= orders.id %>">
                            <input type="submit" name="status_cancel" id="" class="btn btn-danger fw-bold" value="CANCELLED">
                          </form>
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                    
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      

    <!-- Modal -->
    <div class="modal fade" id="showDone" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Status: <span class="btn btn-success fw-bold">DONE</span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Cost</th>
                    <th scope="col">Transaction Status</th>
                    <th scope="col">Delete History</th>
                </tr>
                </thead>
                <tbody>
                  <% orderDone.forEach(function(orders) { %>
                    <tr>
                      <td><%= orders.Product.title %></td>
                      <td><%= orders.user_id %></td>
                      <td><%= orders.qty %></td>
                      <td><%= orders.price %></td>
                      <td><span class="btn btn-success fw-bold"><%= orders.transaction_status %></span></td>
                      <td>
                        <form action="/admin/orders" method="post">
                            <input type="hidden" name="historyDelete" id="" class="btn btn-danger" value="<%= orders.id %>">
                            <button class="btn btn-danger" type="submit"> 
                              <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                    </tr>            
                    <% }); %>
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

      <div class="modal fade" id="showCancel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Status: <span class="btn btn-danger fw-bold">CANCELLED</span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                  <thead>
                  <tr>
                      <th scope="col">Product Name</th>
                      <th scope="col">User ID</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total Cost</th>
                      <th scope="col">Transaction Status</th>
                      <th scope="col">Delete History</th>

                  </tr>
                  </thead>
                  <tbody>
                    <% orderCancelled.forEach(function(orders) { %>
                      <tr>
                        <td><%= orders.Product.title %></td>
                        <td><%= orders.user_id %></td>
                        <td><%= orders.qty %></td>
                        <td><%= orders.price %></td>
                        <td><span class="btn btn-danger fw-bold"><%= orders.transaction_status %></span></td>
                        <td>
                            <form action="/admin/orders" method="post">
                              <input type="hidden" name="historyDelete" id="" class="btn btn-danger" value="<%= orders.id %>">
                              <button class="btn btn-danger" type="submit"> 
                                <i class="bi bi-trash"></i>
                              </button>
                            </form>
                        </td>
                      </tr>            
                      <% }); %>
                  </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  </div>

<%- include('../partial/footer'); -%>