<%- include('../partial/header'); -%>
<%- include('../partial/navbar'); -%>
<div class="container-fluid">
    <button type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#createProducts">
        <h1><i class="bi bi-plus-square-fill"></i> Add Products</h1>
    </button>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col" width="40%">Description</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
            <% products.forEach(function(product) { %>
                <tr>
                    <td><%= product.title %></td>
                    <td><%= product.description %></td>
                    <td><%= product.stock %></td>
                    <td><%= product.price %></td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#update_status<%= product.id %>">Change</button>
                    </td>
                    <td>
                        <form action="/admin/products/delete" method="post">
                            <input type="hidden" name="productID" value="<%= product.id %>">
                            <input type="submit" name="deleteProduct" id="" class="btn btn-danger btn-sm" value="Delete">
                        </form>
                    </td>
                </tr>
                <div class="modal fade" id="update_status<%= product.id %>" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Edit Product ID: <%= product.id %></h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                          <form action="/admin/products" method="post">
                            <div class="form-group mt-3">
                                <input type="hidden" name="productID" value="<%= product.id %>">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" name="title"value="<%= product.title %>">
                            </div>

                            <div class="form-group mt-3">
                                <label for="title">Description</label>
                                <input type="text" class="form-control" rows="3" name="description" value="<%= product.description %>">
                            </div>

                            <div class="form-group mt-3">
                                <label for="title">Stock</label>
                                <input type="text" class="form-control" name="stock" value="<%= product.stock %>">
                            </div>

                            <div class="form-group mt-3">
                                <label for="title">Price</label>
                                <input type="text" class="form-control" name="price"value="<%= product.price %>">
                            </div>
                            <br>
                            <div class="modal-footer">
                                <input type="submit" name="" id="" class="btn btn-success" value="Done">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </form>

                        </div>
                        
                      </div>
                    </div>
                  </div>
            <% }); %>
        </tbody>
    </table>


    <div class="modal fade" id="createProducts" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Product</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form action="/admin/products/create" method="post">
                <div class="form-group mt-3">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title"value="">
                </div>

                <div class="form-group mt-3">
                    <label for="title">Description</label>
                    <input type="text" class="form-control" rows="3" name="description" value="">
                </div>

                <div class="form-group mt-3">
                    <label for="title">Stock</label>
                    <input type="text" class="form-control" name="stock" value="">
                </div>

                <div class="form-group mt-3">
                    <label for="title">Price</label>
                    <input type="text" class="form-control" name="price"value="">
                </div>
                <br>
                <div class="modal-footer">
                    <input type="submit" name="" id="" class="btn btn-success" value="Done">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </form>

            </div>
            
          </div>
        </div>
      </div>
</div>
<%- include('../partial/footer'); -%>
