<%- include('../partial/header'); -%>
<%- include('../partial/navbar'); -%>

<div class="container">
  <div class="row">
    <% productList.forEach(function(products) { %>
    <div class="card m-3" style="width: 18rem;">
      <img
        src="http://www.acacia-wood.com/themes/jtherczeg-multi//assets/images/acacia/empty-img.png"
        class="card-img-top" alt="Image Product">
      <div class="card-body">
        <h5 class="card-title"><%= products.title %></h5>
        <p class="card-text"><%= products.description %></p>
        <a href="/products/<%= products.id %>" class="btn btn-primary">Go to Product page</a>
        
      </div>
      <!-- Modal -->
      <div class="modal fade" id="moreInfo<%= products.id %>" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= products.title %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Stocks: <%= products.stock %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="/products/<%= products.id %>" class="btn btn-primary">Go to Product page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include('../partial/footer'); -%>